@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<div class="col">
    <div class="row">
        <div class="col">
            @Assessment.Date.ToString("MMM dd, yyyy")
        </div>
        <div class="col">
            <div class="row" style="color:green">
                @Assessment.HighGrade
            </div>
            <div class="row" style="color:red">
                @Assessment.LowGrade
            </div>
        </div>
    </div>
    @if (showDetails)
    {
        <div class="row">
            <button type="button" class="btn-sm btn-outline-secondary" @onclick=ToggleDetails>
                Hide
            </button>
        </div>
        <div class="row">
            Corners: @Assessment.Corners
        </div>
        <div class="row">
            Edges: @Assessment.Edges
        </div>
        <div class="row">
            Centering: @Assessment.Centering
        </div>
        <div class="row">
            Surface: @Assessment.Surface
        </div>
        <div class="row">
            Notes: @Assessment.Text
        </div>
    }
    else
    {
        <div class="row">
            <button type="button" class="btn-sm btn-outline-secondary" @onclick=ToggleDetails>
                Details
            </button>
        </div>
    }
</div>