@using Microsoft.AspNetCore.Components;
@using Microsoft.AspNetCore.Components.Web;

<div class="col">
    <div class="row">
        <div class="col" style="width:fit-content">
            <div class="row" style="color:green">
                @Assessment.HighGrade
            </div>
            <div class="row" style="color:red">
                @Assessment.LowGrade
            </div>
        </div>
        <div class="col" style="min-width:fit-content">
            @Assessment.Date.ToString("MMM dd, yyyy")
        </div>
    </div>
    @if (showDetails)
    {
        <div class="row">
            <button type="button" class="badge btn-outline-secondary" style="width:fit-content" @onclick=ToggleDetails>
                Hide
            </button>
        </div>
        <div class="row" style="margin-bottom:.5em;font-size:small;">
            <strong>Corners: </strong>@Assessment.Corners
        </div>
        <div class="row" style="margin-bottom:.5em;font-size:small;">
            <strong>Edges: </strong>@Assessment.Edges
        </div>
        <div class="row" style="margin-bottom:.5em;font-size:small;">
            <strong>Centering: </strong>@Assessment.Centering
        </div>
        <div class="row" style="margin-bottom:.5em;font-size:small;">
            <strong>Surface: </strong>@Assessment.Surface
        </div>
        <div class="row" style="margin-bottom:.5em;font-size:small;">
            <strong>Notes: </strong>@Assessment.Text
        </div>
    }
    else
    {
        <div class="row">
            <button type="button" class="badge btn-outline-secondary" style="width:fit-content" @onclick=ToggleDetails>
                Details
            </button>
        </div>
    }
</div>